################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpeechTest/bin/Debug
/.vs
/SpeechTest/obj/Debug
